body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.top-container {
    background-color: rgb(18, 110, 130);
    height: 80px;
    margin-top: 0px;
    margin-left: 0;
    margin-right: 0;
    text-decoration: none;
    
    
    
}

.menu {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    margin-right: 0px;
    padding-left: 1000px;
    padding-right: 0px;
    padding-top: 30px;    

}


.menu a {
    text-decoration: none;
   
  }


a {
    color: rgb(48, 48, 48);
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px 10px;    
}


.bottom-container {
    margin-top: 30px;
    
}
